.header .navbar {
    background-color:white;
    padding-left:  30px;
    padding-top: 1px;
    padding-bottom: 0%;
    
  }
   * {
    box-sizing: border-box;
  }
  body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 2rem;
    color: #333333;
    overflow-x: hidden;
    
  }
  main{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }
  
  .header2{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .content{
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }

  .header-video{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .header-video video{
    min-width: 100%;
    min-height: 100%;

  }
  .header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85;
  }

.header-content{
  z-index: 2;
}
.header-content h1{
  font-size: 50px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
}

.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
  font-family: 'Playfair Display', serif;

}



.click{
  text-align: center;
}
  
/*-------------------------------------------------------*/
/*------slider 1------------------------------------------*/
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
    background: #000000;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
  }

/*----------------------------------------------------------*/
/*------------------------------------------------------------*/
#textointro{
  align-content: flex-start;
  text-align: center;
  text-indent: 10px;
  font-style: oblique;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 50px;
  box-shadow: 0 5px 15px 0
  rgb(0, 0, 0, .5);
}


.conocenos{
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 3rem;
}

/* -------------------------------------------- */ 
.h2{
  text-align: center;
  font-style: oblique;
  font-size: 2.5rem;
  padding: 2rem;
}
 
.sinagogas{
  display: flex;
  margin: 0;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0
  rgb(0, 0, 0, .5);
}

.texto{
  text-align: center;
  text-align: center;
  padding: 2rem;
}
.maps{
  width: 100%;
  padding: 2rem;
}

.mapa{
  align-content: right;
  align-items: center;
}
/*--------------------------------------------------------*/
footer{
  background: #333333;
  color: antiquewhite;
  align-content: center;
}



.footer{
  display: flex;
}
.siguenos{
  text-align: center;
  padding: 3rem;
}

.redes{
  padding: 3rem;
  align-content: center;
  align-items: center;
}

/**********---------------------------------------------*/
/*---- MAPAS ----------------------------------*/
#mapWrapper {
  position: relative;
  /*
  Do math with the height of your iframe divided by the width, then converted to percent
  In this example the height is 400 and the width is 600
  400 / 600 = .66666667
  which is 66.6666667% */
  padding-bottom: 44.4444444%;
  height: 0;

}
#mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* This sets an overlay element that covers the map and helps prevent people from zooming the map while scrolling. */
.overlay {
 background:transparent;
 position:relative;
 width:100%;
 height:100%;
 z-index: 1;
}

.click{
  color: #ffffff;
}
