@font-face {
    font-family: 'Lemon/Milk Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk Regular'), url('../../../LemonMilk.woff') format('woff');
}


#temas{
    padding: 1rem;
}
.temas{
        background: rgb(255,196,0);
        background: linear-gradient(180deg, rgba(255,196,0,1) 0%, rgba(255,196,0,1) 42%, rgba(163,95,0,1) 68%);
}



.titulo-superior{
    padding: 2rem;
    font-size: 2.5rem;
    font-family: 'Lemon/Milk Regular';
    font-weight: normal;
    font-size:42px;
}

.titulo-inferior{
    text-align: right;
    font-size: 2.5rem;
    padding: 2rem;
    font-family: 'Lemon/Milk Regular';
    font-weight: normal;
    font-size:42px;
}

footer{
    background: #333333;
    color: antiquewhite;
  }
  
  .footer{
    display: flex;
  }
  .siguenos{
    text-align: center;
    padding: 3rem;
  }
  .redes{
    display: flex;
    padding: 2rem;
    align-content: center;
    align-items: center;
  }
